.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.swp
**/.DS_Store

build/
devel/
install/
logs/
results/
docker_results*/
docker_release/

IM-NMPO/fig/sim_results/*
IM-NMPO/script/Maobin_Lu__*.pdf
